header {
	background: #8B3035;
}
.site-content {
	background-color: #f6f3ff;
}
header, header>ul>li>a {
	color: #c5deea;
}
.sidebar nav>ul>li.highlight>a {
    background: #a84c51 !important;
}
.nav-header-logo{
	background: #692629;
    color: #FFFFFF;
}
.nav-header-logo p {
	color: rgba(255, 255, 255, 0.95);
}
.account-img-profile {
    background: #d7cdf6;
}
.account-menu-container {
    background: #f4f0ff;
}
.account-menu li a:hover {
    background: #c7bce9;
}
.btn-primary {
	background: #8B3035;
    --bs-btn-color: #fff;
    --bs-btn-bg: #8B3035;
    --bs-btn-border-color: #8B3035;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #913e42;
    --bs-btn-hover-border-color: #913e42;
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #913e42;
    --bs-btn-active-border-color: #ce4148;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #8B3035;
    --bs-btn-disabled-border-color: #8B3035;
}
.btn-success {
    background: #a84c51 !important;
}
.btn-secondary {
    background: #969091 !important;
}
.card-container .copyright {
    background: none;
    color: #8b3035;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 15px;
    font-weight: bold;
}

